# Python
.venv/
__pycache__/
*.pyc
*.pyo

# temp
.tmp/

# uv
.uv/

# Env files
.env

# Dev logs
dev-api.log

# Node
ui/node_modules/
ui/.next/

# Output files del anonimizador
datos-prueba/*_anon.*

# OS
.DS_Store

# Schema dumps
schema.sql
